<h4 class = "detail_name"><%= @item.itemName %> <%= @item.group.groupName %></h4>
<p class = "combo_price">$<%= @item.combo_master.price %></p>
<p class = "detail_description"><%= @item.detail %></p>
<% if @detail.quantity %>
<p class = "detail_quantity">Ordered <strong><%= @detail.quantity %></strong> pieces</p>
<% end %>