<section class = "order_details_menu", id= "order_details">
	<div id = "detail_core">
	<div><%= link_to 'Back', 'javascript:;', {:id => 'close_details'}, :remote => true %></div>
	<h3>Add this item to your order</h3>
	<%= render 'order_detail_info' %>
	<%= form_for @detail, :remote => true do |f| %>
		<%= render 'order_details/order_detail_form', :f => f %>
		<%= f.submit "Save", :id => 'save_order_detail' %>	
	<% end %>	
	<%= button_to 'Clear order', @detail, :method => :delete, :id => "delete_detail", :remote => true %>
</div>
</section>

