<p class = "detail_type"><%= @item.group.type.typeName %></p>
<h4 class = "detail_name"><%= @item.itemName %> <%= @item.group.groupName %></h4>
<p class = "detail_description"><%= @item.detail %></p>
<p class = "detail_item_price">$<%= @item.price %></p>