<div class = "order_details", id= "order_details">
	<div><%= link_to 'Back', 'javascript:;', {:id => 'close_details'}, :remote => true %></div>
	<h3>Add Item</h3>
	<p class = "detail_type"><%= @item.group.type.typeName %></p>
	<h4 class = "detail_name"><%= @item.itemName %> <%= @item.group.groupName %></h4>
	<p class = "detail_description"><%= @item.detail %></p>
	<p class = "detail_item_price">$<%= @item.price %></p>
	<%= @detail.detailID %>

	<%= form_for @detail, :url => {:action => "create", :method => "post", :controller => "order_details"}, :remote => true do |f| %>
		<%= render 'order_details/order_detail_form', :f => f %>
		<%= f.submit "Add to order", :id => 'save_order_detail' %>	
	<% end %>	
	<div><%= button_to 'Clear order', @detail, :method => :delete, :id => "delete_detail", :remote => true %></div>
</div>