<% Type.find_each do|type| %>
	<% if @order.order_details.any? {|detail| detail.typeID == type.typeID} %>
	<div id = "type_summary_<%= type.typeID %>">
	<h3><%= type.typeName %></h3>
		<% if type.typeID == CHEF_SPECIAL %>
		<p><%= "$#{type.price}" if type.price != nil %></p>
		<div>
			<% if @order.filled == PENDING %>
				<%= button_to 'Cancel combo', 
					cancel_chef_special_path(:order => @order, :combo_id => type), 
					:disabled => button_disabled(type),	:class => 'chef_special_combo_cancel_summary',
					:id => combo_status(type), :remote => true %></div>
			<% end %>
		<% end %>
	<%= render 'order/groups_summary', :type => type %>
	</div>
	<% end %>
<% end %>