<header class = "order_header"><%= render 'instructions_final' %></header>
<section id= "order_review">
<% @order.order_details.each do |detail| %>
<section id = "order_detail_outline">
<div id = "order_detail_summary">
	<% define_order_values(detail)  %>
	<%= render 'order_details/order_detail_summary' %>
</div>
<div id = "order_review_ form">
	<%= form_for @detail do |f| %>
		<%= render "order_details/order_detail_form", :f => f %>
		<%= f.submit "Save", :id => 'save_order_final' %>
	<% end %>
	<%= button_to 'Clear order', @detail, :method => :delete, :id => "delete_detail_final", :remote => true %>
	</div>
	</section>
<% end %>
<div><%= link_to 'Cancel All', @order, :method => :delete,
								   :confirm => "Your order will be deleted",
								   :class => "delete_order" %></div>
</section>