<header class = "order_header"><%= render 'instructions_final' %></header>
<div class = "order_subheader">
	
<% if @order.filled != SENT  && @time_data.fetch("validtime") != ORDER_LOCKOUT %>
<%= link_to 'Cancel Order', @order, :method => :delete,	:confirm => "Your order will be deleted", :class => "delete_order" %>
<%= link_to 'Edit Order', edit_order_path(@order), :class => "edit_order round" %>
<% end %>

<% if @order.order_details.any? %>
	<% flash.select {|key, value| key == (:warning)}.each do |key, value| %>
		<div class= "flash", id = "<%= key %>"><%= value %></div>
	<% end %>
</div>
	<div class =  "total_order_price">TOTAL PRICE: <%= number_to_currency(@order.total) unless @order.total.blank? %></div>
	<section id= "order_review">
		<%= render 'order/types_summary' %>
	</section>
<% end %>