<h3>'Hello, world'</h3>
<p><%= @order.orderID %></p>
<p><%= @order.filled %></p>
<p><%=  @order.day %></p>
<% @order.order_details.each do |detail| %>
<p><%= Item.find(detail.itemID).itemName  %></p>
<p><%= detail.detailID %></p>
<% end %>
