<% if  type.typeID == CHEF_SPECIAL%>
	<table><th class = "type_combo <%=combo_status(type) %>"><%= type.typeName %></th></table>
<% end %>
<% type.groups.reject{|thisGroup| thisGroup.groupID == 31}.each do |group| %>
	<table class = "menu_table">
	<tr class = "group_row", id = "group_<%= group.groupID %>"><%= render 'group', :group => group %></th>
		<%= render 'items', :group => group %></tr>
	</table>
<% end %>	