<th class="group_header <%= combo_status(group) %>", colspan =4>
	<div id = "header_holder">
	<h4><%= group.groupName %></h4>
	<% if group.typeID == SPECIAL %>
	<div class = "combo_price"><%= number_to_currency(group.price) unless group.price.blank?%></div>
	<% end %>
	<div class = "combo_detail"><%= group.detail %></div>
	<% if type.typeID == SPECIAL %>
		<div><%= button_to 'Cancel combo', 
				 cancel_special_path(:order => @order, :combo_id => group), 
				 :disabled => button_disabled(group), :class => 'combo_cancel', 
				 :id => combo_status(group), :remote => true %></div>
	<% end %>
	</div>
</th>
