<% group.items.find_in_batches(:batch_size => 2) do |items| %>
<tr class = "item_row">
	<% items.each do |item| %>
	<td class = "item_data">
		<%= link_to order_details_path, :remote => true do%>
		<table class = "item_table">
			<tr>
			<% if item.Price.nil? %>
			<td class = "item_name"><%= item.itemName %></td>
			<% else %>
			<td class = "item_name"><%= item.itemName %> - $<%= item.Price %></td>
			<% end %>
			</tr>
			<tr><td class="item_detail"><%= item.Detail %></td></tr>
		</table>
		<% end %>
	</td>
	<% end %>
</tr>
<% end %>