<div class = "order_details", id= "order_details">
	<%= link_to 'go back', close_path %>
	<h3>Add Item</h3>
	<h4><%= @item.itemName %> <%= @item.group.groupName %></h4>
	<p><%= @item.Detail %></p>
	<p>$<%= @item.Price %></p>
<%
=begin %>
	 <%= form_for @new_item do |f| %>
	<%= f.label "Spicy" %>
	<%= f.check_box :Spicy %><br/>

	<%= f.label "Quantity" %>
	<%= f.select :quantity, (0..10)  %>

	<%= f.label "Add item:" %>
	<%= f.submit %>

	<% end %>
<%
=end %>

</div>